[submodule "trader-api"]
	path = api
	url = https://github.com/SteamItem/trader-api
[submodule "trader-bot"]
	path = bot
	url = https://github.com/SteamItem/trader-bot
[submodule "trader-puppet"]
	path = puppet
	url = https://github.com/SteamItem/trader-puppet
[submodule "trader-admin"]
	path = admin
	url = https://github.com/SteamItem/trader-admin
